.skeleton {
    background-color: #e2e8f0;
    border-radius: var(--radius-md);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.circle {
    border-radius: 50%;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}